<!doctype html>
<html lang=en>
<meta charset=utf8>
<meta name=viewport content=width=device-width,initial-scale=1>
<link rel="shortcut icon" type=image/x-icon href=data:image/x-icon;,>
<title>Shelter</title>
<link rel=stylesheet href=/index.css>
<main>
  <h1>Shelter</h1>
  <p>
    <a href='/form'>Add a Animal</a>
  </p>
  <div class=grid>
    <% for (var i = 0; i < data.length; i++) { %>
      <article class=animal>
        <a class="frame block-link" href="/<%= data[i].id %>">
          <figure class="frame-image frame-image-reveal">
            <img src="/image/<%= data[i].id %>.jpg" alt>
            <figcaption>
              <p>
                <%= data[i].name %>
              </p>
            </figcaption>
          </figure>
          <h2>
            <%= data[i].name %>
          </h2>
          <p class=capitalize>
            <p>
              <%= data[i].sex %>
            </p>
            <p>
              <%= data[i].age %>
                <%= plural('year', data[i].age) %> old</p>
        </a>
      </article>
      <% } %>
  </div>
</main>
<script src=/index.js></script>
